h1 { 
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 5px;
  text-align: center;
  color: orange;
  font-family: verdana;
  font-size: 400%;
}
p  {
  margin: 100px 100px 100px 100px;
  color: black;
  font-family: Courier New;
  font-size: 120%;
}

body {
  background-color:green ;
} 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 

h2 {
  color: brown;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
